*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;

}


header>section{
    background-color: rgb(27, 27, 88);
    display: flex;
    justify-content: space-between;
    padding: 1.5vh 5vw;
}

header>section>h3{
    margin-top: 1vh;
    color: rgb(255, 255, 255);
    font-size: 2vw;
}

header>section>article>a{
    color: white;
    text-decoration: none;
    margin: 1vh .5vw;
    font-size: 1.2vw;
}

header>section>article>button{
    background-color: white;
    color: black;
    padding: 2vh 2vw;
    font-size: 1vw;
    font-weight: 600;
    border: none;
}

.title{
    text-align: center;
    margin: 0 25vw;
    margin-top: 15vh;
}

.title>p{
    font-size: 1.5vw;
    font-weight: 500;
}

.title>h1{
    font-size: 2.5vw;
    margin: 2vh 0;
}

.title>span{
    color: gray;
    font-size: 1vw;
}

.info{
    margin: 10vh 25vw 0 25vw;
    display: flex;
    justify-content: space-between;
    background-color: rgba(51, 51, 160, 0.886);
    padding: 5vh 3vw;
}

.info>article:nth-child(2){
    margin-right: 5vw;
}

.info>article>span{
    font-size: 1vw;
    color: rgb(205, 205, 205);
}

.info>article>hr{
    border: solid gray .1vw;
    margin: 2vh 0;
    width: 15vw;
}

.info>article>p{
    font-size: 1.3vw;
    color: white;
    margin-bottom: 1vh;
}

.form{
    margin: 2vh 25vw;
    
}

.form>input{
    width: 49.2vw;
    padding: 3vh 0;
    margin: 2vh 0;
    font-size: 1.3vw;
}

.form>input:nth-child(3){
    padding-bottom: 15vh;
}

.form>button{
    width: 49.2vw;
    text-align: center;
    padding: 2vh 0;
    border: none;
    background-color: rgb(255, 197, 5);
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: 15vh;
}

footer{
    background-color: rgb(27, 27, 88);
}

.name{
    display: flex;
    justify-content: space-between;
    padding: 1.5vh 5vw;
}

.name>h3{
    margin-top: 1vh;
    color: rgb(255, 255, 255);
    font-size: 2vw;
}

.name>article{
    margin-top: 1.5vh;
}

.name>article>a{
    color: white;
    text-decoration: none;
    margin: 1vh .5vw;
    font-size: 1.2vw;
}

.subscribe{
    margin: 5vw;
    background-color: rgba(92, 92, 92, 0.613);
    padding: 7vw 5vw;
    display: flex;
    justify-content: space-between;
}

.subscribe>h2{
    color: white;
    font-size: 2vw;
}

.subscribe>article{
    margin-top: 2vh;
}

.subscribe>article>input{
    background-color: rgba(255, 255, 255, 0);
    padding: 1.5vh 5vw;
    padding-top: 2vh;
    margin-right: 2vw;
}

.subscribe>article>input::placeholder{
    font-size: 1vw;
    vertical-align: middle;
}


.subscribe>article>a{
    color: black;
    text-decoration: none;
    background-color: rgb(255, 197, 5);
    display: inline-block;
    padding: 1.3vh 3vw;
    font-weight: 600;
    font-size: 1.2vw;
    transition: .5s;
}

.subscribe>article>a:hover{
    background-color: rgb(199, 153, 3);
    transition: .5s;
}

.contact{
    margin: 0 5vw;
    display: flex;
    justify-content: space-between;
}

.contact>article>p{
    color: rgba(152, 152, 152, 0.985);
    margin-bottom: 1vh;
}

.contact>article>i{
    color: rgba(152, 152, 152, 0.985);
    font-size: 1.3vw;
    margin-right: 1vw;
}